<section class="login-form">
  <form [formGroup]="oLoginForm" (ngSubmit)="onSubmit()" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center center" >
    <mat-form-field appearance="outline">
      <input matInput name="login" type="email" formControlName="login">
      <mat-label>Login</mat-label>
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="oLoginForm.controls.login.errors">
          <mat-error *ngIf="oLoginForm.controls.login.errors.required">required</mat-error>
          <mat-error *ngIf="oLoginForm.controls.login.errors.email">wrong login</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <input matInput name="password" type="password" formControlName="password">
      <mat-label>Password</mat-label>
      <mat-icon matSuffix>vpn_lock</mat-icon>
      <mat-error *ngIf="oLoginForm.controls.password.errors">
          <mat-error *ngIf="oLoginForm.controls.password.errors.required">required</mat-error>
          <mat-error *ngIf="oLoginForm.controls.password.errors.minlength">Need 5 characters</mat-error>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="oLoginForm.invalid">Login</button>
  </form>
</section>
