<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>MSG1</h1>
    <p>
      Proin fermentum leo finibus elit maximus sagittis. Vestibulum ante ipsum
      primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed
      massa ex, semper eget ante maximus, tempor efficitur velit.
    </p>
  </section>
  <section>
    <h1>MSG2</h1>
    <p>
      leo id hendrerit venenatis.
    </p>
  </section>
  <section>
    <h1>MSG3</h1>
    <p>
      ulla rhoncus dui libero, et vestibulum ex laoreet vel. Pellentesque
      faucibus gravida felis, sed ullamcorper mi. Cras placerat justo et quam
      suscipit, et convallis risus vestibulum. Nunc vehicula laoreet lacus, et
      laoreet odio euismod a. Nulla condimentum lacus nec metus pellentesque,
      sit amet convallis dolor ultricies
    </p>
  </section>
  <section>
    <h1>MSG4</h1>
    <p>
      Quisque in fringilla mauris. Aliquam eget tortor eleifend, interdum sapien
      ut, tincidunt tellus. Morbi vulputate in metus et dignissim. Morbi
      fringilla mi non tincidunt porttitor. In viverra consequat justo, a congue
      mi sagittis vel.
    </p>
  </section>
</div>
