
<mat-sidenav-container>
  <mat-sidenav #sitenav role="navigation">
    <p>ss</p>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button matSuffix mat-icon-button (click)="sitenav.toggle()" ><mat-icon>menu</mat-icon></button>
        Title
        <div fxFlex fxLayout fxLayoutAlign="end end">
          <ul fxLayout fxLayoutGap="10px" class="nav-items">
            <li><a routerLink="singup">singup</a></li>
            <li><a routerLink="login">login</a></li>
            <li><a routerLink="training">training</a></li>
          </ul>
        </div>

      </mat-toolbar>
      <main>
          <router-outlet></router-outlet>
      </main>
  </mat-sidenav-content>
</mat-sidenav-container>
